*, *::after, *::before{
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    padding: 20px;
    background-color: orange;
    margin: 0;
    
}
header{
    background-color: grey;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
#stories{
    margin-top: 20px;
    text-align: center;
    color: white;
}
.story{
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}


@media (max-width: 600px){
    body{
        background-color: white;
    }
    header{
        background-color: black;
        color: grey;
    }
    #stories{
        color: black;
    }
    /*Mobile responsive adjusments*/
}